<div class="marquee-wrap">
    <div class="marquee-track">
        <div class="marquee-item"><span>Natural Beauty</span><span class="marquee-dot"></span><span>Sustainable
                Elegance</span><span class="marquee-dot"></span><span>Plant Based</span><span
                class="marquee-dot"></span><span>Organic</span><span class="marquee-dot"></span><span>Chemicals
                Free</span><span class="marquee-dot"></span><span>Expert Design</span><span class="marquee-dot"></span>
        </div>
        <div class="marquee-item"><span>Natural Beauty</span><span class="marquee-dot"></span><span>Sustainable
                Elegance</span><span class="marquee-dot"></span><span>Plant Based</span><span
                class="marquee-dot"></span><span>Organic</span><span class="marquee-dot"></span><span>Chemicals
                Free</span><span class="marquee-dot"></span><span>Expert Design</span><span class="marquee-dot"></span>
        </div>
        <div class="marquee-item"><span>Natural Beauty</span><span class="marquee-dot"></span><span>Sustainable
                Elegance</span><span class="marquee-dot"></span><span>Plant Based</span><span
                class="marquee-dot"></span><span>Organic</span><span class="marquee-dot"></span><span>Chemicals
                Free</span><span class="marquee-dot"></span><span>Expert Design</span><span class="marquee-dot"></span>
        </div>
    </div>
</div>